.control
	.control__page 
		//- .page__elem 
		//- 	.page__elem-close 
		//- 	.page__elem-collapse
		//- 	.page__elem-full
	.control__serch 
		.page__serch
			p.page__serch-magnifier
				i.fa-solid.fa-magnifying-glass
			input.page__serch-input(type='text')
			.page__serch-mic
				.page__serch-mic-fill
					i.fa-solid.fa-microphone
	.serch__info
		.page__info
			.page__info-video
				i.fa-solid.fa-video
			.page__info-notification
				i.fa-solid.fa-bell
			.page__info-user A
