footer.footer
    .footer__descr
        p &copy; promogroup 2008-2021
        +image('footer-logo.png')
    .footer__social
        ul.footer__list
            li.footer__item
                a(href="").footer__item-behance Behance
            li.footer__item
                a(href="").footer__item-instagram Instagram
            li.footer__item
                a(href="").footer__item-facebook Facebook
    .footer__phone
        a(href="tel:+78005006340") 8 800 500 63 40