footer.footer
	.footer__descr
		p &copy; promogroup 2008-2021
		+image('footer-logo.png')
	.footer__social
		ul.footer__list
			li.footer__item
				a.footer__item-behance(href="") Behance
			li.footer__item
				a.footer__item-instagram(href="") Instagram
			li.footer__item
				a.footer__item-facebook(href="") Facebook
	.footer__phone
		a(href="tel:+78005006340") 8 800 500 63 40
