header.header
	.header__logo
		a(href="index.html") 
			+image('logo.svg')
	.header__menu
		ul.header__list
			li.header__logo-item.projects
				a(href="/projects.html") Проекты
			li.header__logo-item.about
				a(href="/about.html") О компании
			li.header__logo-item.contacts
				a(href="/contacts.html") Контакты
