main
    header.header
        .header__logo
            +image('logo.svg')
        .header__menu
            ul.header__list
                li.header__logo-item.projects Проекты
                li.header__logo-item.about О компании
                li.header__logo-item.contacts Контакты
    section.main
        .main__cards
            .card
                .card__title
                    p.card__text.design Design
                    .card__img.design-img
                        +image('laptop.jpeg')
                .card__back
                    p.card__text.design.back Design
                    .card__img.back-img
                        +image("activeBg.png")
            .card
                .card__title
                    p.card__text.posm Posm
                    .card__img.posm-img
                        +image('MBA.jpeg')
                .card__back
                    p.card__text.posm.back Posm
                    .card__img.back-img
                        +image("activeBg.png")
            .card
                .card__title
                    p.card__text.merch Merch
                    .card__img.merch-img
                        +image('case.jpeg')
                .card__back
                    p.card__text.merch.back Merch
                    .card__img.back-img
                        +image("activeBg.png")
            .card
                .card__title
                    p.card__text.event Event
                    .card__img.event-img
                        +image('party.jpeg')
                .card__back
                    p.card__text.event.back Event
                    .card__img.back-img
                        +image("activeBg.png")
    footer.footer
