main
	include header
	//- header.header
	//-     .header__logo
	//-         +image('logo.svg')
	//-     .header__menu
	//-         ul.header__list
	//-             li.header__logo-item.projects
	//-                 a(href='/projects.html') Проекты
	//-             li.header__logo-item.about
	//-                 a(href='/about.html') О компании
	//-             li.header__logo-item.contacts
	//-                 a(href='/contacts.html') Контакты
	section.main
		.main__cards
			.card
				.card__title
					p.card__text.design Design
					.card__img.design-img
						+image('laptop.jpeg')
					.card__design-item
						+image('design-after.svg')
				.card__back
					p.card__text.design.back Design
					.card__img.back-img
						+image("activeBg.png")
			.card
				.card__title
					p.card__text.posm Posm
					.card__img.posm-img
						+image('MBA.jpeg')
					.card__posm-item
						+image('posm-after.svg')
				.card__back
					p.card__text.posm.back Posm
					.card__img.back-img
						+image("activeBg.png")
			.card
				.card__title
					p.card__text.merch Merch
					.card__img.merch-img
						+image('case.jpeg')
					.card__merch-item
						+image('merch-after.svg')
				.card__back
					p.card__text.merch.back Merch
					.card__img.back-img
						+image("activeBg.png")
			.card
				.card__title
					p.card__text.event Event
					.card__img.event-img
						+image('party.jpeg')
					.card__event-item
						+image('event-after.svg')
				.card__back
					p.card__text.event.back Event
					.card__img.back-img
						+image("activeBg.png")
	include footer
	//- footer.footer
	//-     .footer__descr
	//-         p &copy; promogroup 2008-2021
	//-         +image('footer-logo.png')
	//-     .footer__social
	//-         ul.footer__list
	//-             li.footer__item
	//-                 a(href="").footer__item-behance Behance
	//-             li.footer__item
	//-                 a(href="").footer__item-instagram Instagram
	//-             li.footer__item
	//-                 a(href="").footer__item-facebook Facebook
	//-     .footer__phone
	//-         a(href="tel:+78005006340") 8 800 500 63 40
	
