.header {
  display: flex;
  justify-content: space-between;
  //padding-bottom: 68px;
  padding-top: 68px;
  //height: 67px;

  &__logo {
    height: 67px;
  &-item {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    &:hover {
      color: #0000FF;
    }
  }
  }

  &__menu {
    align-self: center;

  }
  &__list {
    width: 551px;
    display: flex;
    justify-content: space-between;
    //text-align: center;
  }
}
// MAIN _____ CARDS _______________

.main {
  &__cards {
    display: flex;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  &__title {

    //display: none;
    position: relative;
    width: 372px;
    height: 667px;
    //background: rgba(0, 0, 255, 0.05);


    transform: rotateY();
  }
  &__text {
    position: absolute;
    line-height: 96px;
    letter-spacing: 14px;
    font-size: 89px;
    font-weight: 800;
    transform: rotate(-90deg);
    transform-origin: left;
    bottom: 0;
    left: 300px;
  }

  &__back {
    //display: none;
    position: relative;
    width: 372px;
    height: 667px;
    //background: rgba(0, 0, 255, 0.05);

    & p {
      color: #fff;
    }

    & img {
      width: 100%;
    }
  }
}

.design-img img {
  position: absolute;
  width: 50%;
  bottom: 0;
}
//________-flipping

.card__title {
  position: relative;
  z-index: 2;
  transition: transform 0.6s ease-out;

}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(-90deg);
  transition: opacity 0.3s ease-in, transform 0.6s ease-out;

}

.card:hover .card__title {

  transform: rotateY(90deg);
}

.card:hover .card__back {
  opacity: 1;
  transform: rotateY(0deg);
  transition-delay: 590ms;

}

.card:hover .card__back {
  opacity: 1;
  transform: rotateY(0deg);

}

.card:hover .card__title {
  transform: rotateY(-90deg);

}

