body {
	background: #F8F8F8;
	//background-repeat: no-repeat;
	//background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	max-width: 1586px;
	padding: 15px;
	margin: 0 auto;
	//background: #F8F8F8;
	background: #f1cece;
}
